<footer>

    <nav>
        <ul>
            <li> <a href="/"><i class="fa-solid fa-house fa-2xl"></i></a></li>
            <li> <a href="/favorites"><i class="fa-solid fa-heart fa-2xl"></i></a> </li>
            <li> <a href="/account"><i class="fa-solid fa-user fa-2xl"></i></a></li>
        </ul>
    </nav>

</footer>