
<main >

  

    <form action="/login" method="POST">  

    

      <section >   
            
            <h1>Inloggen</h1>
         
    
             <section >

                <label>Gebruikersnaam</label>
                <input type="text" name="username"/>

             </section>
    
             <section>

                <label>Wachtwoord</label>
                <input type="password" name="password"/>

             </section>

             <section>

                <button type="submit" >Inloggen</button>

            </section>
        

                <p>Nog geen account? <a href="/register">Maak een account aan.</a></p>

      </section>   
   </form>   

</main>


