{{>header}}
<main id="signup">
    <section class = "error404">
        <h2>ERROR 404</h2>
        <p>De pagina die je bezoekt is niet gevonden.</p>
        <p>Probeer de volgende pagina's:</p>
        <ul>
            <li><a href="/login">Inloggen</a></li>
            <li><a href="/register">Registreer</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </section> 
</main>