{{>header}}
<main>
    <section>
        <div>
            <h2>Find your BookBuddy</h2>
            <p>Vind via bookbuddy jouw buddy om samen boeken te kunnen lezen, bespreken en raad elkaar boeken aan die je al hebt gelezen.</p>
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
        </div>
    </section>
</main> 