<body class="like">

    {{#each data}}
    <div>
        <img src={{this.imgSrc}} alt="foto van boek" loading="lazy" />
        <h2>{{this.titel}}, {{this.auteur}}</h2>
        <p>{{this.genre}}</p>

        <ul class="card">
            <li><input class="yes" type="button" value="Yes!"></li>
            <li><input class="no" type="button" value="No.."></li>
        </ul>

    </div>
    {{/each}}


    <script src="js/script.js"></script>

    {{> footer}}

</body>