{{>header}}
<main id="login">
    <section>
        <form action="/ingelogd" method="POST" id="formlogin">
            <fieldset>
                <legend>Login</legend>
                <label for="email">E-mail</label>
                <input type="email" name="email" required id="emaillogin">
                <p class="messageemail">Er is geen geldig emailadres ingevuld.</p>
                <label for="password">Wachtwoord</label>
                <input type="password" name="password" id="passwordlogin">
                <p class="messagepassword">Het wachtwoord dat is ingevuld is niet goed.</p>
                <input type="submit" value="Login" id="login">
            </fieldset>
        </form>
    </section>
</main>