{{>header}}
<main id="login">
    <section>
        <form action="/login" method="POST" id="formlogin">
            <fieldset>
                <legend>Login</legend>
                {{#if messages.error}}
                    <p class="errormessage">{{messages.error}}</p>
                {{/if}}
                <label for="email">E-mail</label>
                <input type="email" name="email" required id="email">
                <label for="password">Wachtwoord</label>
                <input type="password" name="password" id="password">
                <input type="submit" value="Login" id="login">
            </fieldset>
            <p>Nog geen account? <a href="/register">Registreren</a></p>
        </form>
    </section>
</main>