{{#if user}}



<main class = "grid">

  
  <section>
      <img src="./img/oppas.png" alt="">
  </section>  

  <section class="container">
    
    <section>
          <section>
             <h1>Profiel Informatie</h1>
             <h2>Welkom, {{user.username}}.</h2>
             <p> Wil je uitloggen of wil je jouw account verwijderen? Maak een keuze hieronder.</p>
          </section>
      
        <section class ="naastelkaar">
          
            <form action="/logout"  method='get'>
           
			      <button type="submit" >Uitloggen</button>
          
		        </form>


            <form action="/"  method='POST'>
      
            <input class="hide" name="delete" type="'hidden" value="{{user.username}}" />
            <button type="submit" >Verwijder Account</button>

            </form>

        </section>
      </section>
    
  </section>
 

</main>

   
  

{{/if}}

