{{!-- {{>header}}

<main id="signup">
    <section>
        <form action="/register" method="POST" id="local-reg">
  

 
     
            
        

       
    
       <fieldset>
                <legend>Registreren</legend>

                 {{#if messages.error}}
        {{messages.error}}
        {{/if}}
        
                <label for="name">Gebruikersnaam</label>
                <input type="text" name="username" id="name">
                
                
                
                <label for="password">Wachtwoord</label>
                <input type="password" name="password" id="password">
               
                <input type="submit" value="Registreer" id="singup">


                
            </fieldset> 
            <p > Al een account? <a href="/login">Inloggen.</a></p>

 </form> 
 
</main> --}}


{{>header}}
<main id="signup">
    <section>
        <form action="/register" method="POST" id="formsignup">
            <fieldset>
                <legend>Signup</legend>
                <label for="name">Gebruikersnaam</label>
                <input type="text" name="name" id="name">
                <p class="messagename">Er is geen gebruikersnaam ingevuld.</p>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
                <p class="messageemail">Er is geen geldig emailadres ingevuld.</p>
                <label for="password">Wachtwoord</label>
                <input type="password" name="password" id="password">
                <label for="confirm_password">Herhaal wachtwoord</label>
                <input type="password" name="confirm_password" id="confirm_password">
                <p class="messagepassword">Het wachtwoord dat is ingevuld is niet hetzelfde.</p>
                <input type="submit" value="Signup" id="singup">
            </fieldset> 
             <p>Al een account? <a href="/login">Inloggen.</a></p>
        </form>
    </section>
</main>